.barChart {

	position: relative;
	display: flex;
	flex-direction: row-reverse;
	padding-top: $gutter*3.5;
	height: $cardContentHeight;
	overflow: hidden;

	&__axis {
		flex-shrink: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: stretch;
		width: 100%;
		order: 1;
	}

	&__row {
		position: relative;
		font-size: .8em;
		min-width: 1px;
		padding: $gutter/2 0;
		padding-right: $gutter/2;

		&--top {
			transform: translateY(-100%);
		}

		&--middle {
			transform: translateY(-50%);
		}

		&--bottom {
			transform: translateY(0);
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: $maxWidth;
			height: 1px;
			background: $dimmed;
		}
	}

	&__column {
		display: flex;
		align-items: flex-end;
		padding: 0 $gutter/4;
		width: 100%;
	}

	&__bar {
		position: relative;
		width: 100%;
		height: var(--size);
		min-height: 2px;
		background: $tertiary;
	}

	&__column.active &__bar {
		background: $primary;

		&::after {
			--arrow-width: 15px;
			--arrow-height: 10px;

			content: attr(data-label);
			position: absolute;
			right: 0;
			bottom: calc(100% + #{ $gutter });
			padding: .2em .5em calc(.2em + var(--arrow-height));
			background: $white;
			clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - var(--arrow-width)) calc(100% - var(--arrow-height)), 0 calc(100% - var(--arrow-height)));
			color: currentColor;
			z-index: 1;
		}
	}

}