body {

	color: var(--light);
	background: var(--black);

	// Set the min-height to 100% to fill the whole page with a
	// gradient when the body has a background gradient.
	min-height: 100%;

	// Better font rendering for Webkit and Firefox
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

}