.card {

	background: $card;
	border-radius: $radius;
	width: 100%;
	overflow: hidden;

	&--overlay {
		justify-self: center;
		align-self: center;
		max-width: 420px;
	}

	&--wide {
		grid-column: 1 / -1;
	}

	&__inner {
		padding: $gutter*1.6 $gutter*1.5 $gutter*1.5;
		width: 100%;
	}

	&__group {
		display: grid;
		grid-auto-flow: column;
		grid-gap: $gutter/4;
		align-items: center;
		margin: 0 0 $gutter/4;
		justify-content: start;
	}

	&__footer {
		display: flex;
		border-top: 1px solid $black;
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		padding: $gutter $gutter*1.5;
		transition: background .3s ease;
		outline: none;

		&[disabled] {
			cursor: not-allowed;
		}

		&:not([disabled]):focus,
		&:not([disabled]):hover {
			background: $dimmed;
		}

		&:active {
			background: none;
			transition: none;
		}

		&--primary {
			width: 100%;
		}
	}

	&__separator {
		flex-shrink: 0;
		width: 1px;
		background: $black;
	}

}