.content {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $gutter;
	margin: 0 auto;
	padding: $gutter*5 $gutter;
	width: 100%;
	max-width: $maxWidth;

	@media (max-width: 800px) {
		grid-template-columns: 1fr;
	}

}