.content {

	--rows: 2;

	display: grid;
	grid-template-columns: repeat(var(--rows), minmax(0, 1fr));
	gap: $gutter;
	margin: 0 auto;
	padding: 6vh $gutter;
	width: 100%;
	max-width: $maxWidth;

	@media (max-width: 800px) {
		--rows: 1;
	}

}