.context {

	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	padding: calc(var(--gutter) / 2) 0;
	min-width: 210px;
	background: var(--context-overlay);
	border-radius: var(--radius);
	transform: translate(var(--x), var(--y));
	z-index: 3;
	opacity: 0;
	pointer-events: none;

	@supports (backdrop-filter: blur(10px)) {
		background: var(--context);
		backdrop-filter: blur(10px);
	}

	@media (max-width: 800px) {
		font-size: .9em;
	}

	&--fixed {
		position: fixed;
	}

	&--tooltip {
		max-width: 300px;
	}

	&--floating {
		border-radius: var(--radius);
	}

	&.visible {
		opacity: 1;
		pointer-events: all;
	}

	&__content {
		margin: 0;
		padding: calc(var(--gutter) / 3) calc(var(--gutter) * 1.2);
		font-size: .9em;
	}

	&__button {
		padding: calc(var(--gutter) / 3) calc(var(--gutter) * 1.2);
		color: currentColor;
		text-align: left;
		transition: color .3s ease, background .2s ease;
		line-height: 1.4;
		outline: none;

		&.active {
			color: var(--white);
		}

		&:focus,
		&:hover {
			background: var(--dimmed);
		}
	}

	&--floating &__button {
		margin: 0 calc(var(--gutter) / 2);
		padding: calc(var(--gutter) / 2) calc(var(--gutter) / 1.6);
		color: var(--white);
		border-radius: var(--inner-radius);

		&.active {
			color: var(--primary);
		}
	}

	&__head {
		display: grid;
		grid-auto-flow: column;
		gap: var(--gutter);
		align-items: center;
		justify-content: space-between;
	}

	&__label {
		max-width: 240px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__description {
		padding-right: var(--gutter);
		font-size: .86em;
		color: var(--light);
	}

	&__separator {
		height: 1px;
		background: var(--dimmed);
		margin: calc(var(--gutter) / 2) 0;
	}

}
