.counter {

	$textAdjustment: 2px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: $textAdjustment $gutter/2 0;
	min-width: $faviconSize;
	height: $faviconSize;
	background: $light;
	border-radius: 100px;
	color: $black;
	font-size: .9em;

}