.customScrollbar {

	--scrollbar-size: 6px;

	::-webkit-scrollbar {
		width: var(--scrollbar-size);
		height: var(--scrollbar-size);
		z-index: 1000;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--light);
		border-radius: calc(var(--scrollbar-size) / 2);
	}

	::-webkit-scrollbar-corner {
		display: none;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--light) transparent;
	}

}
