.emptyState {

	display: grid;
	align-content: center;
	justify-content: center;
	height: var(--card-content-height);

	&__inner {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: calc(var(--gutter) / 1.5);
	}

	&__icon {
		$size: 24px;

		fill: var(--light);
		width: $size;
		height: $size;
	}

}
