.favicon {

	--size: 30px;

	width: var(--size);
	height: var(--size);
	background: $white;
	border-radius: 100%;
	border: 2px solid $white;
	overflow: hidden;

	&--missing {
		background: $gradient;
	}

}