.filter {

	position: fixed;
	display: grid;
	justify-content: center;
	width: 100%;
	bottom: 4vh;
	z-index: 2;
	pointer-events: none;

	@media (max-width: 800px) {
		font-size: .9em;
	}

	&__bar {
		display: grid;
		grid-auto-flow: column;
		gap: var(--gutter);
		padding: 0 calc(var(--gutter) * 1.5);
		border-radius: 100px;
		background: var(--context);
		backdrop-filter: var(--backdrop-filter);
		pointer-events: all;
	}

	&__button {
		display: flex;
		align-items: center;
		padding: calc(var(--gutter) / 1.5) 0;
		white-space: nowrap;
		color: var(--white);
		outline: none;

		&:focus {
			color: var(--primary);
		}
	}

	&__arrow {
		--filter-arrow-size: 12px;

		margin-left: calc(var(--gutter) / 2);
		width: var(--filter-arrow-size);
		height: var(--filter-arrow-size);
		fill: var(--light);
	}

}
