.gridList {

	$textAdjustment: 2px;

	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: $gutter/2;
		pointer-events: none;
	}

	&::before {
		top: 0;
		background: linear-gradient($card, rgba($card, 0));
	}

	&::after {
		bottom: 0;
		background: linear-gradient(rgba($card, 0), $card);
	}

	&__inner {
		padding-top: $gutter;
		height: $cardContentHeight;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__grid {
		display: grid;
		grid-auto-rows: calc(#{ $faviconSize } + #{ $gutter });
		font-size: .9em;

		&--one {
			grid-template-columns: 1fr;
		}

		&--two {
			grid-template-columns: auto 1fr;
		}
	}

	&__column {
		display: flex;
		align-items: center;
		padding-top: $textAdjustment;
		border-bottom: 1px solid $dimmed;
		color: currentColor;
		text-decoration: none;
		transition: color .3s ease;
		overflow: hidden;

		&--leading {
			padding-right: $gutter;
		}
	}

	&__grid--one:last-child {
		border-bottom: none;
	}

	&__grid--two:nth-last-child(2),
	&__grid--two:last-child {
		border-bottom: none;
	}

	&__column[href]:hover,
	&__column--leading[href]:hover + &__column {
		color: $white;
	}

	&__truncated {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}