.headline {

	margin: 0 0 $gutter/2;
	font-weight: 400;
	font-size: 2.2em;
	text-rendering: optimizeLegibility;
	line-height: 1;

	&--small {
		margin: 0 0 $gutter/3;
		font-size: 1.5em;
		line-height: 1.2;
	}

}