.iconList {

	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: $gutter/2;
		pointer-events: none;
	}

	&::before {
		top: 0;
		background: linear-gradient($card, rgba($card, 0));
	}

	&::after {
		bottom: 0;
		background: linear-gradient(rgba($card, 0), $card);
	}

	&__inner {
		padding-top: $gutter;
		height: 300px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__row {
		display: grid;
		grid-auto-flow: column;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		padding: $gutter/2 0;
		color: currentColor;
		font-size: .9em;
		text-decoration: none;
		border-bottom: 1px solid $dimmed;
		transition: color .3s ease;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			color: $white;
		}
	}

	&__hostname {
		margin-left: $gutter;
	}

	&__pathname {
		opacity: 0;
		transition: opacity .3s ease;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__row:hover &__pathname {
		opacity: .6;
	}

}