.iconList {

	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: calc(var(--gutter) / 2);
		pointer-events: none;
	}

	&::before {
		top: 0;
		background: linear-gradient(var(--card), transparent);
	}

	&::after {
		bottom: 0;
		background: linear-gradient(transparent, var(--card));
	}

	&__inner {
		padding-top: var(--gutter);
		height: 300px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__row {
		display: grid;
		grid-template-columns: auto 100%;
		grid-column-gap: var(--gutter);
		justify-content: flex-start;
		align-items: center;
		padding: calc(var(--gutter) / 2) 0;
		border-bottom: 1px solid var(--dimmed);

		&:last-child {
			border-bottom: none;
		}
	}

	&__link {
		margin: 0;
		color: currentColor;
		font-size: .9em;
		text-decoration: none;
		transition: color .3s ease;

		&:hover {
			color: var(--white);
		}
	}

}