.linkItem {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 $gutter;
	width: 100%;
	transition: color .3s ease;
	outline: none;

	&--disabled {
		cursor: inherit;
	}

	&:not(.linkItem--disabled):focus,
	&:not(.linkItem--disabled):hover {
		color: $white;
	}

	@media (max-width: 800px) {
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}

}