.linkItem {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 $gutter;
	width: 100%;
	transition: color .3s ease;

	&--disabled {
		cursor: inherit;
	}

	&:not(.linkItem--disabled):hover {
		color: $white;
	}

}