.message {

	margin-bottom: $gutter;
	// Keep padding consistent with form controls.
	padding: $formPadding;
	border: 2px solid transparent;
	border-radius: $innerRadius;
	color: $white;
	font-size: .8em;

	&--success {
		background: $success;
	}

	&--warning {
		background: $warning;
	}

	&--error {
		background: $error;
	}

}
