// Chromium ------------------------------------------------------ //

::-webkit-scrollbar {
  width: 6px;
} 

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $light;
  border-radius: 3px;
}

// Firefox ------------------------------------------------------- //

* {
  scrollbar-width: thin;
  scrollbar-color: $light transparent;
}
