.spacing {

	&-huge {
		margin-bottom: calc(var(--gutter) * 3);
	}

	&-large {
		margin-bottom: calc(var(--gutter) * 2);
	}

	&-medium {
		margin-bottom: var(--gutter);
	}

	&-small {
		margin-bottom: calc(var(--gutter) / 2);
	}

	&-zero {
		margin-bottom: 0;
	}

}