.spinner {

	$size: 26px;

	@keyframes spinner__rotate {
		0% {
			transform: rotate(0turn);
		}
		100% {
			transform: rotate(1turn);
		}
	}

	position: relative;
	height: $size;
	width: $size;

	&__circle {
		position: absolute;
		width: 100%;
		height: 100%;
		border-style: solid;
		border-width: 3px;
		border-color: transparent;
		border-radius: 100%;
		animation-name: spinner__rotate;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		&--primary {
			border-right-color: $primary;
			animation-duration: .5s;
		}

		&--white {
			border-right-color: $white;
			animation-duration: .8s;
		}

		&--dimmed {
			border-color: $dimmed;
		}
	}

}