.stack {

	display: grid;
	gap: $gutter/2;

	&--horizontal {
		grid-auto-flow: column;
		justify-content: start;
		align-items: center;
	}

	&--vertical {
		grid-auto-flow: row;
		align-content: start;
		justify-items: center;
	}

}