// formbase ----------------------------------------------------- //
$formbase__gutter: 1.8rem;
$formbase__radius: var(--radius);
$formbase__svg: #fff;
$formbase__color: #fff;
$formbase__border: transparent;
$formbase__shadow: none;