.favicon {

	width: var(--row-height);
	height: var(--row-height);
	background: var(--white);
	border-radius: 100%;
	border: 2px solid var(--white);
	overflow: hidden;

	&--missing {
		background: var(--gradient);
	}

}
