html {

	// Fill the whole browser. Necessary when the body is smaller than the browser,
	// but wants to fill the whole page using min-height.
	width: 100%;
	height: 100%;

	// Set the font-size in the root element as rem is relative to the document root
	font: normal 400 112.5%/1.5 'Rubik', sans-serif;

}