.input {

	appearance: none;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 var(--form-margin);
	padding: var(--form-padding);
	background: var(--dimmed);
	border: 2px solid transparent;
	box-shadow: none;
	border-radius: var(--inner-radius);
	outline: none;
	resize: vertical;
	transition: border-color .3s ease;
	color: var(--white);

	&:disabled {
		border-color: var(--disabled-border);
		background-color: var(--disabled-background);
		cursor: not-allowed;
		color: var(--white);
	}

	&:focus {
		border-color: var(--primary);
	}

	&::placeholder {
		color: #999;
		opacity: 1;
	}

}
