.keyHint {

	--key-hint-size: 1.5em;

	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--key-hint-size);
	height: var(--key-hint-size);
	font-size: .8em;
	background: var(--dimmed);
	border-radius: 6px;
	border: 1px solid var(--tertiary);
	color: var(--light);

}
