.tooltip {

	--tooltip-size: 1em;

	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--tooltip-size);
	height: var(--tooltip-size);
	background: var(--dimmed);
	border-radius: 100%;
	outline: none;

	&:focus {
		box-shadow: 0 0 0 2px var(--primary);
	}

	&__icon {
		--tooltip-icon-size: 12px;

		width: var(--tooltip-icon-size);
		height: var(--tooltip-icon-size);
		fill: currentColor;
	}

}
