/* Sass ------------------------------------------------*/
@import 'basics';

/* Animations ------------------------------------------------*/
@keyframes moveUp {
	0% {
		transform: translateY(700px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* Visits ------------------------------------------------*/
#visits {

	/* Columns ------------------------------------------------*/
	.content.bars .columns {
		float: left;
		margin-top: 5px;
		width: calc(100% - 77% - 35px - 10px);
		height: 100%;
	}

		.content.bars .columns h2 {
			width: 900px;
			padding: 0px 0px 5px 10px;
			margin: 55px 0px;
			color: white(.8);
			font-weight: 400;
			font-size: 14px;
			border-bottom: 1px solid black(.05);
		}

	/* Rows ------------------------------------------------*/
	.content.bars .row {
		float: left;
		position: relative;
		width: 11%;
		height: 100%;
		margin: 0px 5px 0px 0px;
		z-index: 1;
	}

		.content.bars .row h2 {
			position: absolute;
			margin: 10px 0px;
			color: white(.8);
			font-weight: 400;
			font-size: 14px;
		}

		.content.bars .row .bar {
			width: 100%;
			height: 100%;
			background-color: white(.7);
			transform: translateY(700px);
		}

		@for $i from 0 through 8 {
			.content.bars .row:nth-child(#{$i}) .bar {
				animation: moveUp $duration $timing #{($i*$i)/300}s 1 normal forwards;
			}
		}

			.content.bars .row .bar h3 {
				position: absolute;
				margin: 4px;
				color: $cMain;
				font-size: 12px;
				font-weight: 400;
			}

			.content.bars .row .bar .inner {
				width: 100%;
				height: 30%;
				display: none;
				background-color: white(.5);
			}

				.content.bars .row .bar .inner h3 {
					color: #FF7C00;
				}

}