# Temporary files
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/.idea/
**/Icon\r\r

# External disk files
**/.Spotlight-V100
**/.Trashes

# AFP share files
**/.AppleDB
**/.AppleDesktop
**/.apdisk
**/Network Trash Folder
**/Temporary Items

# Test artifacts
coverage
.nyc_output

# Package Managers
package-lock.json
npm-debug.log
node_modules

# User data
/data
.env

# Dist folder
dist/*
!dist/favicon.ico
!dist/index.css
!dist/index.js
!dist/tracker.js

# Vercel
.vercel
