/* Colors ------------------------------------------------*/
$cMain: #CA5858;
$cRed: #FF2410;
$cGreen: #09C845;

/* Vars ------------------------------------------------*/
$duration: .3s;
$sDuration: .2s;
$timing: cubic-bezier(0.51,.92,.24,1.15);

/* Functions ------------------------------------------------*/
@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

/* basicModal ------------------------------------------------*/
$basicModal__color: $cMain;