/* Animations ------------------------------------------------*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Leafs ------------------------------------------------*/
.leaf {
	float: left;
	width: 100%;
	min-width: 430px;
	max-width: 900px;
	height: 450px;
	margin: 10px;
	overflow: hidden;

	/* Styles ------------------------------------------------*/
	&.light {
		background-color: $cMain;
	}

	&.dark {
		background-color: #333;
	}

	/* Header ------------------------------------------------*/
	.header {
		width: 100%;
		height: 62px;
		border-bottom: 1px solid black(.1);
	}

		&.light .header {
			background-color: black(.02);
		}

		&.dark .header {
			background-color: black(.15);
		}

	.header h1 {
		float: left;
		margin: 19px 0px 0px 22px;
		font-size: 21px;
		font-weight: 400;
		color: white(1);
	}

	.header .switch {
		float: right;
		padding: 25px 22px 15px 22px;
		color: white(.7);
		font-size: 14px;
		cursor: pointer;
		opacity: 0;
	}

		.header .switch span {
			margin-right: 5px;
			display: inline-block;
			transform: translateY(-1px);
		}

		&:hover .header .switch,
		.header .switch.active {
			opacity: 1;
		}

		&:hover .header .switch:active {
			color: white(.3);
		}

	/* Content ------------------------------------------------*/
	.content {
		width: 100%;
		height: calc(100% - 63px);
		animation: fadeIn $sDuration $timing;
	}

	/* Empty State ------------------------------------------------*/
	.content.empty {
		display: flex;
		box-align: center;
		align-items: center;
		box-pack: center;
		justify-content: center;
	}

		.content.empty p {
			margin-top: -15px;
			color: white(1);
			font-size: 16px;
			text-align: center;
			line-height: 20px;
		}

			.content.empty p a {
				padding-bottom: 1px;
				color: $cMain;
				text-decoration: none;
				border-bottom: 1px dashed $cMain;
				cursor: pointer;
			}

			/* Styles ------------------------------------------------*/
			&.light .content.empty p a {
				color: white(1);
				border-bottom: 1px dashed white(1);
			}

			&.dark .content.empty p a {
				color: $cMain;
				border-bottom: 1px dashed $cMain;
			}
}
