/* Animations ------------------------------------------------*/
@keyframes moveDown {
	0% {
      transform: translateY(-65px);
	}
	100% {
		transform: translateY(0);
	}
}

/* Button ------------------------------------------------*/
#menu {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 11px 15px 11px 16px;
	background-color: #fff;
	font-size: 21px;
	color: #333;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 0px 1px;
	border-radius: 100%;
	z-index: 1;
	display: none;
	transition: color $sDuration;

	&:hover {
		color: $cMain;
	}

	&:active {
		color: lighten($cMain, 20%);
	}

	&.fadeIn {
		display: block;
	   animation: moveDown $duration $timing;
	}
}
