/* Sass ------------------------------------------------*/
@import 'basics';

/* Container ------------------------------------------------*/
.contextContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

/* Context ------------------------------------------------*/
.context {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 0px 1px;
	border-radius: 3px;
	opacity: 0;

	@include vendorize(transition, opacity .1s);
}

	/* Item ------------------------------------------------*/
	.context tr {
		margin-bottom: 2px;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0px;
		}
	}

		.context tr td {
			color: #333;
			min-width: 110px;
			padding: 6px 8px;
			border-radius: 2px;
			white-space: nowrap;

			&:hover {
				color: #fff;
				background-color: $cMain;
			}
		}

			.context tr td span {
				margin-right: 10px;
				width: 12px;
				text-align: center;
			}