/* Sass ------------------------------------------------*/
@import 'basics';

/* Basics -------------------------------------------------*/
html, body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.center {
	left: 50%;
	top: 50%;
	position: absolute;
}

* {
	transition: opacity $sDuration ease-out;
}

/* Content ------------------------------------------------*/
#content {
	display: inline-block;
	width: calc(100% - 30px);
	margin: 15px;
}

/* Files ------------------------------------------------*/
@import '../../bower_components/basicModal/src/styles/main.scss';
@import 'leafs';
@import 'menu';
@import 'sortable';