/* Sass ------------------------------------------------*/
@import 'basics';

/* Animations ------------------------------------------------*/
@include keyframes(moveDown) {
	0% {
		@include vendorize(transform, translateY(-65px));
	}
	100% {
		@include vendorize(transform, translateY(0));
	}
}

/* Notification ------------------------------------------------*/
.notification {
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 15px 15px 14px 15px;
	background-color: #fff;
	color: #333;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 0px 1px;
	z-index: 10000;
	@include vendorize2x(transition, transform $duration $timing);
}

	/* Animation ------------------------------------------------*/
	.notification.fadeIn {
		@include vendorize(animation, moveDown $duration $timing);
	}

	.notification.fadeOut {
		@include vendorize(animation, fadeOut $duration $timing);
	}

	/* Icon ------------------------------------------------*/
	.notification a {
		float: left;
		font-size: 21px;
	}

	/* Text ------------------------------------------------*/
	.notification p {
		float: left;
		margin: 2px 0px 0px 15px;
	}