/* Sass ------------------------------------------------*/
@import '../../assets/scss/basics';

/* Content Table ------------------------------------------------*/
#referrers {

	.content {
		overflow-y: scroll;
	}

	.content table {
		width: 100%;
		table-layout: fixed;
	}

	/* Header ------------------------------------------------*/
	.content table thead tr th {
		color: white(1);
		font-size: 14px;
		font-weight: 400;
	}

		/* Recent ------------------------------------------------*/
		.content.recent table thead tr th:last-of-type {
			width: 85px;
		}

		/* Repeating ------------------------------------------------*/
		.content.repeating table thead tr th:last-of-type {
			width: 85px;
		}

	/* Body ------------------------------------------------*/
	.content table tbody {
		color: white(.5);
	}

		.content table tbody tr td {
			white-space: nowrap;
			overflow: hidden;
		}

		.content table tbody img.favicon {
			margin: 0px 2px -5px 0px;
			background-color: #fff;
			background-size: 16px 16px;
			border: 2px solid #fff;
			border-radius: 500px;
		}

		.content table tbody a {
			color: $cMain;
			text-decoration: none;
			white-space: nowrap;
			border-bottom: 1px dashed white(0);
			@include vendorize(transition, border $sDuration);

			&:hover {
				border-bottom: 1px dashed white(0.5);
			}

			&:hover span {
				opacity: 1;
			}
		}

			.content table tbody a span {
				opacity: 0;
				color: white(.5);
				white-space: nowrap;
			}

		.content table tbody p {
			float: left;
			width: 100%;
			margin: 5px 0px 0px 8px;
			color: white(.5);
			font-size: 14px;
			font-weight: 400;
		}

			.content table tbody p a {
				color: white(.8);
				text-decoration: none;
				border-bottom: 1px dashed white(0);
				@include vendorize(transition, border $sDuration);

				&:hover {
					border-bottom: 1px dashed white(.5);
				}
			}

		.content table tbody .time {
			font-size: 12px;
		}

}