/* Sass ------------------------------------------------*/
@import 'basics';

/* Content Table ------------------------------------------------*/
#users {

	.content {
		overflow-y: scroll;
	}

	.content table {
		width: 100%;
		table-layout: fixed;
	}

	/* Header ------------------------------------------------*/
	.content table thead tr th {
		color: white(1);
		font-size: 14px;
		font-weight: 400;
	}

		/* Browsers, Platform, Screens ------------------------------------------------*/
		.content table thead tr th:first-of-type {
			width: 80px;
		}

	/* Body ------------------------------------------------*/
	.content table tbody {
		color: white(.5);
	}

		.content table tbody tr td:last-of-type {
			color: white(.8);
		}

}