/* Sass ------------------------------------------------*/
@import 'basics';

/* Content Table ------------------------------------------------*/
#pages {

	.content {
		overflow-y: scroll;
	}

	.content table {
		width: 100%;
		word-break: break-all;
	}

	/* Header ------------------------------------------------*/
	.content table thead tr th {
		color: white(1);
		font-size: 14px;
		font-weight: 400;
	}

		/* Popular ------------------------------------------------*/
		.content.popular table thead tr th:first-of-type {
			width: 80px;
		}

		.content.popular table thead tr th:last-of-type {
			width: 85px;
		}

		/* Recent ------------------------------------------------*/
		.content.recent table thead tr th:last-of-type {
			width: 85px;
		}

	/* Body ------------------------------------------------*/
	.content table tbody {
		color: white(.5);
	}

		.content table tbody a {
			color: $cMain;
			text-decoration: none;
			border-bottom: 1px dashed white(0);
			transition: border $sDuration;

			&:hover {
				border-bottom: 1px dashed white(0.5);
			}
		}

			.content table tbody a span {
				color: white(.5);
			}

		.content table tbody p {
			float: left;
			width: 100%;
			margin: 1px 0px 0px 0px;
			color: white(.5);
			font-size: 14px;
			font-weight: 400;
		}

			.content table tbody p a {
				color: white(.8);
				text-decoration: none;
				border-bottom: 1px dashed white(0);
				transition: border $sDuration;

				&:hover {
					border-bottom: 1px dashed white(.5);
				}
			}

		.content table tbody .time {
			font-size: 12px;
		}

}